.header {
    display:flex;
    background: linear-gradient(
      to left,
      transparent,
      rgb(85, 6, 6)  
    ) rgb(161, 91, 91);
    margin: 0;
    justify-content: center;
}

.headerUl {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
}

.headerUl a {
    padding: 1em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: large;
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.headerUl a:hover,
.headerUl a:focus,
.headerUl a:active {
    text-shadow: 5px 7px 7px rgba(0, 0, 0, .5);
}
/*
background: linear-gradient(
        to bottom,
        transparent,
        rgba(156, 156, 156, 0.288)
    ) rgba(138, 136, 136, 0.247);
*/
.logoGob {
    width: 160px;
    height: 60px;
    margin-left: 1rem;
    align-items: baseline;
    position: relative;
}
.logoEdoMex {
    width: 45px;
    height: 60px;
    margin-left: 1rem;
    align-items: baseline;
    position: relative;
}

.imagen {
    object-fit: contain;
}

.menuBar {
    margin:0;
}
